# Project Files
.buildpath
.idea
.project
.settings
*.sublime-project
*.sublime-workspace
composer.phar
composer.lock

# OS Files
.DS_Store
Thumbs.db
._*
.nfs*
*~
*.bak
desktop.ini


*.log
*.tpl.php
*.tmp
*.php_cs.cache
*.TMP
vendor
bower_components
node_modules
public/static
/bk
tmp/*
!tmp/*/
tmp/templates_c/*
tmp/logs/*
tmp/cache/*
tmp/sms/*
tmp/schedule/*
uploads/reports/*
!*.gitkeep
!*empty
tests/
tests/_output/*
/_SYNCAPP
test.php